<nav class="main-navigation">
	<ul class="primary-links">
		<li><a href="/features/">Features</a></li>
		<li><a href="/views/">Views</a></li>
		<li><a href="/multimedia/">Multimedia</a></li>
		<li><a href="/discussions/">Discussions</a></li>
		<li><a href="/topics/">Topics</a></li>
	</ul>
	<ul class="supporting-links">
		<li><a href="/stream/?sort=popular">Popular</a>:</li>
		<li><a href="/news/532311/a-battery-to-prop-up-renewable-power-hits-the-market/">Grid Battery</a></li>
		<li><a href="/news/532431/rise-of-the-robot-security-guards/">Robot Security</a></li>
	</ul>
</nav>