<aside class="menu">
	<div class="menu-zone">
		<a data-toggle="menu">
			<i class="ion-navicon-round"></i>
		</a>
	</div>
	<ul>
		{% for item in globals.menu %}
		<li><a href="{{ item.uri }}">{{ item.label }}</a></li>
		{% endfor %}
	</ul>
</aside>