<body class="{{ bodyClass }}">

<header class="toolbar">
	<a href="/" class="brand">
		<img src="{{ logo }}">
{% if project %}
		<span class="site-name">{{ project }}</span>
{% endif %}
	</a>
	<aside class="menu">
		<div class="menu-zone">
			<a data-toggle="menu">
				<i class="ion-navicon-round"></i>
			</a>
		</div>
		<ul>
{% for item in menu %}
			<li{% if activeRoute == item.uri %} class="active"{% endif %}><a href="{{ item.uri }}">{{ item.label }}</a></li>
{% endfor %}
		</ul>
	</aside>
</header>
