# MIT Technology Review Style Guide
Guidelines to help you align a microsite, partner website, or other affiliate content served to an audience under the MIT brand.

The style guide is a resource for development and design teams of MIT Technology Review’s international partners. This resource provides guidelines for consistency in MIT Technology Review’s brand and user interface elements, patterns, and behavior. This document will be continually updated and maintained as we design and build.

---------

### [Elements](/elements)
Fundamental building blocks of MIT Technology Review's digital styles that provide the groundwork for typography, dimension, and style.

---------

### [Components](/components)
Re-usable chunks of modular code that appear as part of TechnologyReview.com as a whole.

---------

### [Patterns](/patterns)
Combinations of components and elements that are used globally throughout the website.