<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MIT Technology Review | Style Guide</title>
	<meta name="description" content="Guidelines to help you align a microsite, partner website, or other affiliate content served to an audience under the MIT brand.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
	<link rel="stylesheet" href="/dist/core.css">
</head>
<body>

<h1>{{ message }}</h1>

<header class="toolbar">
	<div class="container">
		<a href="/" class="brand">MIT Technology Review</a>
	</div>
</header>

<aside class="menu">
	
</aside>

<section class="main">
	<div class="container">
		<article data-template="views/article.twig"></article>
	</div>
</section>

<footer>
	<div class="container">
		<p class="copyright">&copy; 2014</p>
	</div>
</footer>

<!--[ NOT YET ]
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="dist/core.js"></script>
-->
</body>
</html>