{% include '_head.twig' %}
</head>

{% include '_toolbar.twig' %}

<section class="main layout-default">
	<div class="container region">
		<aside class="secondary" data-hash="#view-template" data-offset-top="139" data-sticky></aside>

		<main id="view-template" class="primary markdown">

<!--[ START markdown ]-->
{% filter markdown %}
{% include view %}
{% endfilter %}
<!--[ END markdown ]-->

		</main>
	</div>
</section>

{% include '_footer.twig' %}

</body>
</html>