{% include "./_head.html" %}
</head>

{% include "./_toolbar.html" %}

<section class="main layout-simple">
	<div class="container region">
		<main id="view-template" class="primary markdown">
			<article class="type-article">
				<header class="article-meta">
					<h2 class="header-topic">Computing News</h2>
					<h1 class="header-title">Rise of the Robot Security Guards</h1>
					<p class="intro">Startup Knightscope is preparing to roll out human-size robot patrols.</p>
					<p class="byline">By <a href="#">Rachel Metz</a> on November 13, 2014</p>
				</header>

				<section id="answers-sidenotes" class="body">
					<aside class="img-left">
						<img height="299" src="http://www.technologyreview.com/sites/default/files/images/knightscopex299.jpg" width="299">
					</aside>
					<aside class="caption-left">
						<p>The K5 security robot.</p>
					</aside>
					<p>As the sun set on a warm November afternoon, a quartet of five-foot-tall, 300-pound shiny white robots patrolled in front of Building 1 on Microsoft’s Silicon Valley campus. Looking like a crew of slick <a href="http://en.wikipedia.org/wiki/Dalek" target="0">Daleks</a> imbued with the grace of Fred Astaire, they whirred quietly across the concrete in different directions, stopping and turning in place so as to avoid running into trash cans, walls, and other obstacles.</p>
					<p>The robots managed to appear both cute and intimidating. This friendly-but-not-too-friendly presence is meant to serve them well in jobs like monitoring corporate and college campuses, shopping malls, and schools.</p>
					<p><a href="http://www.knightscope.com" target="0">Knightscope</a>, a startup based in Mountain View, California, has been busy designing, building, and testing the robot, known as the K5, since 2013. Seven have been built so far, and the company plans to deploy four before the end of the year at an as-yet-unnamed technology company in the area. The robots are designed to detect anomalous behavior, such as someone walking through a building at night, and report back to a remote security center.</p>
					<p>“This takes away the monotonous and sometimes dangerous work, and leaves the strategic work to law enforcement or private security, depending on the application,” Knightscope cofounder and vice president of sales and marketing Stacy Stephens said as a K5 glided nearby.</p>
					<p>In order to do the kind of work a human security guard would normally do, the K5 uses cameras, sensors, navigation equipment, and electric motors—all packed into its dome-shaped body with a big rechargeable battery and a computer. There are four high-definition cameras (one on each side of the robot), a license-plate recognition camera, four microphones, and a weather sensor (which looks like a DVD-player slot) for measuring barometric pressure, carbon dioxide levels, and temperature. The robots use Wi-Fi or a wireless data network to communicate with each other and with people who can remotely monitor its cameras, microphones, and other sources of data.</p>
					<p>GPS and a laser ranging instrument help the robots find their way around their patrol area and avoid obstacles when on duty. When they’re taken to a new place—such as the Microsoft campus where they were patrolling earlier this month before Knightscope cofounder and CEO William Santana Li spoke at a tech event—a human with a wireless controller shows the robot around to determine the area it will patrol and let it learn about its surroundings. “You give it a base map and then it starts building from that,” Stephens says.</p>
					<p>Knightscope is one of a growing number of companies using robots to help with work traditionally done by humans (see <a href="http://www.technologyreview.com/news/530696/how-human-robot-teamwork-will-upend-manufacturing/" target="0">“How Human-Robot Teamwork Will Upend Manufacturing”</a> and <a href="http://www.technologyreview.com/news/518661/smart-robots-can-now-work-right-next-to-auto-workers/" target="0">“Smart Robots Can Now Work Right Next to Auto Workers”</a>), or perhaps replace them altogether (see <a href="http://www.technologyreview.com/featuredstory/515926/how-technology-is-destroying-jobs/" target="0">“How Technology Is Destroying Jobs”</a>). The trend is accelerating as robots are made ever smarter, more agile, and more adaptable to specific tasks. And while most robots do assembly-line work, Knightscope is one of a few companies betting that they could take on other tasks.</p>
					<p>Knightscope may not outright replace many security guards soon—over a million of them were employed in the U.S. last year, according to an <a href="http://www.bls.gov/oes/current/oes339032.htm#%281%29" target="0">estimate</a> from the U.S. Department of Labor’s Bureau of Labor Statistics. But the estimated hourly wage these guards earned was more than twice the $6.25 that Knightscope says it will charge for its robots, which could tempt some companies and schools to at least try them out.</p>
					<p>The robots have a battery that could last about 24 hours on a single charge, though the K5 is supposed to monitor its battery life and wheel over to a charging pad when needed. It takes 15 or 20 minutes to refuel.</p>
					<p>Though the K5 may look friendly and does not carry any weapons, it’s not meant to be messed with. If you walk in front of it, it will stop abruptly. Try to detain it, and after some time its built-in alarm will begin to chirp as a warning while sending a low-level alert to a remote monitoring center. Keep bothering it, and an ear-piercing alarm will sound as it sends another alert, prompting an operator to use Knightscope’s browser-based software to check out the status of the sensors, see what’s happening around the robot, and talk to anyone who may be there harassing it.</p>
					<p>If you’re the one who needs help and a robot is nearby, you can press a button near the top of its head to summon someone remotely.</p>
					<p>Stephens says several dozen potential customers are interested, including lots of security companies weary of high guard turnover. Knightscope hopes to start putting robots to work at a variety of companies in the first half of next year.</p>
					<p>The company envisions the robots going beyond standard security applications. For example, Stephens suggests an app that would let college students request one to chaperone them across campus at night.</p>
					<p>But Knightscope has plenty of challenges to solve, both technological and cultural, if the robo-guards are to work. For one thing, they will need to prove they can be effective over time, and people will need to feel comfortable in their presence.</p>
					<p>The robots will also have to work on their balance. While speaking with Stephens, I noticed that a K5 in the distance had somehow toppled over the edge of the sidewalk onto the parking-lot asphalt several inches below. A couple of Knightscope folks were needed to pull it upright. Unlike human security guards, these robots still cannot right themselves if they fall.</p>
				</section>

				<!-- START: Livefyre Embed -->
				<div id="livefyre-comments"></div>
				<script type="text/javascript" src="//cdn.livefyre.com/Livefyre.js"></script>
				<script type="text/javascript">
				(function () {
					// sidenotes
					var articleId = fyre.conv.load.makeArticleId(null);
					var convConfig = {
						network: 'livefyre.com',
						siteId: '368423',
						articleId: articleId,
						selectors: 'section.body',
						//checksum: '58873e02bb3ed6f94212b2f369888e96',
						collectionMeta: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0aXRsZSI6IkFuc3dlcnMgc2lkZW5vdGVzIEV4YW1wbGUiLCJhcnRpY2xlSWQiOiJhbnN3ZXJzLXNpZGVub3RlcyIsInR5cGUiOiJzaWRlbm90ZXMiLCJ1cmwiOiJodHRwOi8vYW5zd2Vycy5saXZlZnlyZS5jb20vZGVtby9zaWRlbm90ZXMifQ.tLBJJhV6ERDxDHZ2cPAH7qXZnQ5QDrtSigCuUOB92Vs'
					};

					Livefyre.require(['sidenotes#1'],function (Sidenotes, auth) {
						new Sidenotes(convConfig, function (sidenotesWidget) {
							console.log(sidenotesWidget);
						}());
					});
				}());
				</script>
				<!-- END: Livefyre Embed -->
			</article>
		</main>
	</div>
</section>

{% include "./_footer.html" %}

</body>
</html>