{% include '_head.twig' %}
</head>

{% include '_toolbar.twig' %}

<section class="main layout-simple">
	<div class="container region">
		<main id="view-template" class="primary markdown">
{% filter markdown %}
{% include view %}
{% endfilter %}
		</main>
	</div>
</section>

{% include '_footer.twig' %}

</body>
</html>