/**
 * Core Styles
 *
 * Shared throughout all views
 */

@import url('fonts.less');
@import url('library.less');
@import url('normalize.less');

/*------------------------------------------------------------------------------
  Structure / layout
------------------------------------------------------------------------------*/

body {
	font-size: 24px;
}
.container {
	max-width: 1040px;
	padding: 0 20px;
	margin: 0 auto;
}

// header
.toolbar {
	padding: 20px 40px;
	background: @black;
}
.brand {
	width: 201px;
	height: 98px;
	display: block;
	background: url('/img/mittr-logo.png') 0 0 no-repeat;
}

// content


// footer
.footer {
	
	.copyright {
		text-align: center;
		font-size: 12px;
		margin: 20px 0 0;
	}
}

/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
  Logo / branding
------------------------------------------------------------------------------*/